@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 500px;
}
body {
  overflow: hidden;
}

img {
  width: 500px;
}

.body-container {
  background: #5baef6;
  background-size: cover;
  text-align: start;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  height: 100vh;
  width: 100%;
  transition: all 7s;
  overflow: hidden;
  transition: all 5s ease-in-out;
  background: linear-gradient(
    90deg,
    #5baef6 6%,
    rgba(247, 233, 60, 0.6699054621848739) 35%,
    rgba(145, 86, 239, 0.519) 100%
  );
  background-size: 400%;
}
.body-container.active {
  overflow: hidden;
  transition: all 5s ease-in-out;
  background: linear-gradient(
    90deg,
    #5baef6 6%,
    rgba(247, 233, 60, 0.6699054621848739) 35%,
    rgba(246, 20, 152, 0.519) 100%
  );

  background-size: 400% 100%;
  animation-name: bg-animation;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50%,
  100% {
    background-position: 100% 50%;
  }
}
h1 {
  font-size: 3rem;

  color: rgb(56, 53, 53);
  margin-bottom: 25px;
}

.departure {
  max-width: 600px;
  margin: 40px;
  padding-top: 40px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

h6 {
  word-spacing: 50px;
  font-size: 1.6rem;
  font-weight: 200;
}

h3 {
  font-size: 6.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.509);
}

p {
  font-size: 1.5rem;
  font-weight: 200;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

p:hover {
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.btn_ins {
  align-self: center;
  padding: 15px;
  border-radius: 5px;
  background-color: #2424c7;
  color: #fafafa;
  font-weight: 400;
  font-size: 1rem;
  transition: background 0.3s;
  cursor: pointer;
  border: none;
}

.btn_ins:hover {
  background-color: #6d69fa;
}

.btn_ins.active {
  background-color: #5806e5;
  transition: background-color 0.5s;
}
.btn_ins.active:hover {
  background-color: #8c4bfd;
}

.speed_btn {
  position: absolute;
  left: 460px;
  top: 290px;

  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #5151f300;
  color: #fafafa;
  font-weight: 400;
  font-size: 1rem;
  transition: background 0.3s;
  cursor: pointer;
}

#img {
  position: absolute;
  right: 0px;
  bottom: 180px;

  transition: transform 7s;
}
#sunset {
  position: absolute;
  bottom: -600px;
  right: 20px;
  width: 400px;
  overflow-y: hidden;
  transition: transform 7s;
}

#sunset.active {
  transform: translateY(-1100px);
}
#img.active {
  transform: translateX(-2500px);
  /*animation: right-to-left 3s;*/
}

@keyframes right-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-500%);
  }
}

/* WAVES */

.waves {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  width: 120%;
}

.wave-1 {
  animation: wave-1 1.5s ease-in-out infinite alternate;
}

@keyframes wave-1 {
  from {
    transform: translateX(-100px) rotate(1deg);
  }
}

.wave-2 {
  animation: wave-2 3s 0.5s ease-in-out infinite alternate;
}

@keyframes wave-2 {
  from {
    transform: translateX(-100px) scale(1.5);
  }
}

.wave-3 {
  animation: wave-3 1.5s 0.5s ease-in-out infinite alternate;
}

@keyframes wave-3 {
  from {
    transform: translateX(-50px) scale(1.2);
  }
}

.wave-4 {
  animation: wave-4 2s 2s ease-in-out infinite alternate;
}

@keyframes wave-4 {
  from {
    transform: translateX(-100px) scale(1.1);
  }
}

@media (max-width: 1200px) {
  #img {
    display: none;
  }

  #sunset {
    display: none;
  }
}
